body{
  background-color: #404345;
}
#container{
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  
  padding: 10px 150px 10px 150px;
  
  border-radius: 15px;
  background-color: #6daded;
  
  text-align: left;
}
#content-professional{
  font-size: 42px;
  border-bottom: 1px solid #000000;
}
#me{
  margin-bottom: 20px;
  border-bottom: 1px solid #000000;
}
h1{
  font-size: 64px;
  margin-bottom: -15px;
  text-align: center;
  }
h2{
  font-size: 20px;
  margin-bottom: -6px;
  text-align: center;
}
h3{
  font-size: 38px;
  margin-bottom: -10px;
  border-bottom: 1px solid #000000;
}
h4{
  font-size: 20px;
  margin-bottom: -10px;
}


ul{
  font-size: 15px;
  text-align: center;
}
li{
  font-size: 15px;
  text-align: left;
}

